@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700&display=swap');

@import "mixin.scss";

.flex {
    display: flex;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.clearfix { clear: both; }

.main-content {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

.header-block {
    padding-top: 20px;
    width: 100%;
    justify-content: space-between;

    &-img {
        background-image: url('../images/lector-bg.png');
        background-repeat: no-repeat;
        background-position: 0px 140px;
        background-size: contain;
        width: 100%;
        max-width: 612px;
        width: 100%;
    }

    &-img-box {
        max-width: 506px;
        width: 100%;

        img {
            width: 100%;
        }
    }


    &-info {
        max-width: 560px;
        width: 100%;
        margin-top: 71px;
    }

    &-title-img-box {
        max-width: 99px;
        width: 100%;

        img {
            width: 100%;
        }
    }

    &-title {
        margin-bottom: 46px;

        p {
            @include fontStyle(34px, uppercase, #000, $fontC, 400);
            margin-left: 15px;

            span {
                @include fontStyle(24px, uppercase, $sub, $font, 400);
            }
        }
    }

    &-text-title {
        @include fontStyle(20px, initial, #000, $font, 400);
        margin-bottom: 15px;
    }

    &-text-info {
        @include fontStyle(20px, initial, #000, $font, 400);
        margin-bottom: 10px;

        span {
            @include fontStyle(18px, uppercase, $main, $font, 600);
        }
    }

    &-descr {
        margin-bottom: 75px;
    }

    &-new-prof {
        margin-bottom: 75px;
        position: relative;

        p {
            @include fontStyle(20px, uppercase, $main, $font, 600);

            span {
                margin-top: 5px;
                display: inline-block;
                @include fontStyle(18px, initial, #000, $font, 400);
            }
        }

        &::before {
            content: '';
            width: 141px;
            height: 17px;
            display: block;
            background-image: url('../images/wave.png');
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: -47px;
        }

        &::after {
            content: '';
            width: 141px;
            height: 17px;
            display: block;
            background-image: url('../images/wave.png');
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            bottom: -47px;
        }
    }

    &-start {
        p {
            margin-bottom: 46px;
            @include fontStyle(20px, initial, #000, $font, 900);

            span {
                @include fontStyle(20px, initial, $main, $font, 600);
            }
        }

        button {
            @include buttons (280px, #fff, $main, $font);
            margin-bottom: 19px;
        }

        &-btn-block {
            display: inline-block;
            text-align: center;
            span {
                @include fontStyle(20px, initial, $sub, $font, 400);
            }
        }
    }
}

.numb {
    justify-content: space-around;
    margin-top: 62px;
    text-align: center;
    &-title {
        @include fontStyle(55px, initial, $sub, $fontCB, 900);
        margin-bottom: 10px;
    }

    &-text {
        @include fontStyle(15px, initial, #000, $font, 400);
    }
}

.video-block {
    margin-top: 130px;
    &-img  { 
        max-width: 134px;
        width: 100%;
        margin-bottom: 50px;
        img {
            width: 100%;
        }
    }

    &-text {
        max-width: 500px;
        width: 100%;
        margin-right: 44px;
    }

    &-descr {
        p {
            @include fontStyle(23px, initial, #000, $font, 400);
            line-height: 26px;
            span {
                display: block;
                text-align: right;
                @include fontStyle(20px, initial, $sub, $font, 400);
                margin-top: 10px;
            }
        }

        button {
            @include buttons (280px, #fff, $sub, $font);
            margin-top: 45px;
        }
    }

    &-youtube {
        background-image: url('../images/bg-video.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        padding: 54px 0;
    }

    .youtube {
        width: 560px;
        height: 315px;
        background: #cccccc;
    }
}

.shcool-start {
    margin-top: 116px;
    justify-content: space-between;
    &-left {
        max-width: 513px;
        width: 100%;
        padding: 170px 30px;
        align-items: center;
        position: relative;
        p {
            @include fontStyle(37px, uppercase, #000, $fontCB, 600);
            line-height: 49px;
            span {
                display: block;
                color: $main;
            }
        }
        &::after,
        &::before {
            position: absolute;
            display: block;
            content: '';
            width: 513px;
            height: 103px;
            top: 30px;
            left: 0;
            background-image: url('../images/wave-sc.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &::after {
            top: initial;
            bottom: 0;
        }

    }

    &-right {
        max-width: 540px;
        width: 100%;
        p {
            @include fontStyle(18px, initial, #000, $font, 400);
            line-height: 27px;
        }
        img{
            max-width: 66px;
            width: 100%;
            float: left;
            padding: 0 10px 8px 0

        }
    }
    &-descr-1 {
        p {
            padding-top: 78px;
        }
    }
    &-descr-2 {
        margin-top: 56px;
        p {
            padding-top: 56px;
        }
    }

}

.work {
    justify-content: space-between;
    margin: 55px 0;
    &-img-block {
        max-width: 242px;
        width: 100%;
        img {
            width: 100%;
        }
    }

    &-items {
        max-width: 282px;
        width: 100%;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    &-title {
        @include fontStyle(20px, initial, $main, $font, 600);
        letter-spacing: 0.15em;
        margin-bottom: 10px;
    }

    &-salery {
        @include fontStyle(18px, initial, #000, $font, 900);
        letter-spacing: 0.15em;
        margin-bottom: 10px;
    }

    &-place {
        @include fontStyle(15px, initial, #000, $font, 400);
        margin-bottom: 10px;
    }

    &-text {
        @include fontStyle(17px, initial, #000, $font, 400);
    }
}

.experience-block {
    justify-content: space-between;

    &-text {
        align-items: center;
    }
    &-descr {
        max-width: 342px;
        width: 100%;
        p {
            @include fontStyle(30px, initial, #000, $font, 500);
            line-height: 50px;
            span {
                @include fontStyle(50px, initial, $main, $font, 700);
                display: block;
                &:last-child {
                    @include fontStyle(35px, initial, $sub, $font, 700);
                }
            }
        }
    }

    &-img {
        max-width: 847px;
        width: 100%;
        background-image: url('../images/bg-video.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.result {
    justify-content: space-between;
    margin: 61px 0;

    &-img-btn {
        max-width: 690px;
        width: 100%;
        background-image: url('../images/lector-bg.png');
        background-repeat: no-repeat;
        background-position: top left;
        padding-top: 110px;
        padding-left: 95px;
        button {
            @include buttons (280px, #fff, $main, $font);
        }
    }

    &-img-block {
        max-width: 630px;
        width: 100%;
        margin-bottom: 50px;
        img {
            width: 100%;
        }
    }

    &-descr {
        max-width: 500px;
        width: 100%;
    }

    &-descr-title {
        margin-bottom: 50px;
        p {
            margin-left: 15px;
            @include fontStyle(32px, initial, #000, $font, 400);
            max-width: 185px;
            width: 100%;
        }
    }

    &-descr-text-title {
        @include fontStyle(20px, initial, $main, $fontCB, 700);
        margin-bottom: 15px;
        &:nth-child(2) {
            margin-bottom: 75px;
            position: relative;
            &::after {
                content: '';
                width: 141px;
                height: 17px;
                display: block;
                background-image: url('../images/wave.png');
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                bottom: -45.5px;
            }
        }
        &:nth-child(5) {
            margin: 75px 0;
            position: relative;
            &::before {
                content: '';
                width: 141px;
                height: 17px;
                display: block;
                background-image: url('../images/wave.png');
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: -45.5px;
            }
    
            &::after {
                content: '';
                width: 141px;
                height: 17px;
                display: block;
                background-image: url('../images/wave.png');
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                bottom: -45.5px;
            }
        }
    }

    &-descr-text {
        @include fontStyle(18px, initial, #000, $font, 400);
        line-height: 1.3;
    }
}

.program {
    text-align: center;
    &-title {
        justify-content: center; 
        align-items: flex-end;
        margin-bottom: 50px;
        p {
            max-width: 384px;
            width: 100%;
            @include fontStyle(37px, initial, #000, $font, 500);
            text-align: left;
        }
    }

    &-title-img {
        max-width: 84px;
        width: 100%;
        margin-right: 15px;
        img {
            width: 100%;
        }
    }

    &-tabs-links {
        margin-left: 204px;
        padding-bottom: 36px;
        margin-bottom: 50px;
        border-bottom: 1px solid #ccc;
        ul {
            justify-content: space-between;
        }
        &-items {
            text-align: left;
            @include fontStyle(20px, initial, rgba(102, 102, 102, 255), $fontC, 500);
            letter-spacing: 1.5px;
            cursor: pointer;
            
        }
    }

    .active-tab {
        color: $main;
        font-weight: 900;
        position: relative;
        &::after {
            display: block;
            position: absolute;
            bottom: -38px;
            left: 0;
            content: '';
            width: 317px;
            height: 5px;
            background-color:  $main;;
        }
    }

    &-lessons {
        max-width: 167px;
        width: 100%;
        text-align: left;
        margin-right: 157px;
        ul  {
            border-right: 1px solid #ccc;
        }
    }

    &-lesson-item {
        margin-bottom: 50px;
        letter-spacing: 1px;
        @include fontStyle(20px, initial, rgba(102, 102, 102, 255), $fontC, 500);
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .active-lesson-item {
        color: $sub;
        font-weight: 900;
        position: relative;
        &::after {
            display: block;
            position: absolute;
            top: -12px;
            right: -2px;
            content: '';
            width: 5px;
            height: 50px;
            background-color:  $sub;
        }
    }

    &-lessons-descr {
        position: relative;
        max-width: 100%;
        width: 100%;
        text-align: left;
    }

    &-lessons-descr-items {
        position: absolute;
        top: 0;
        left: 0;
        li {
            @include fontStyle(18px, initial, rgba(3, 51, 51, 255), $font, 400);
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.price {
    margin-top: 90px;
    margin-bottom: 0;

    &-items-box {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

    }

    &-item {
        text-align: center;
        max-width: 294px;
        width: 100%;
        p {
            @include fontStyle(20px, initial, #000, $font, 500);
            line-height: 27px;
            text-align: center;
            margin-bottom: 10px;
            &:last-of-type {
                color: $sub;
                font-weight: 700;
                margin-bottom: 25px;
                font-size: 22px;
            }
        }

        &:last-child {
            margin-top: 50px;
            max-width: 100%;
            text-align: center;
            p {
                font-size: 24px;
                &:last-of-type {
                    color: $main;
                    font-weight: 700;
                    margin-bottom: 15px;
                }
            }
        }

        button {
            @include buttons (280px, #fff, $main, $font);
            margin: 0 auto;
        }
    }
}

.partial-payment {
    justify-content: space-between;
    margin-top: 100px;

    .info-pay {
        max-width: 271px;
        width: 100%;
        @include fontStyle(14px, initial, $sub, $font, 400);
        text-align: center;
        margin-top: 20px;
        line-height: 18px;
        
    }
}

.gallary {
    margin-top: 90px;
}
.gallary-box {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
        margin-bottom: 25px;
    }
}


.lector-wrap {
    margin-top: 90px;
    &-inner {
        justify-content: space-around;
    }
}
.lector-info-title {
    justify-content: flex-start;
    margin-bottom: 55px;
    p {
        font-size: 30px;
        font-family: "Fira Sans", sans-serif;
        span {
            color: #f69126;
            font-weight: 600;
        }
    }
}

.lectior-deskr {
    p {
        max-width: 526px;
        width: 100%;
        @include fontStyle(20px, initial, #000, $font, 400);
        line-height: 1.6;
        span {
            display: block;
            @include fontStyle(25px, initial, $main, $font, 600);
            margin-bottom: 40px;
        }
    }
}

.lector-img {
    text-align: right;
    img {
        width: 80%;
    }
}

.footer {
    margin-top: 60px;
    padding: 50px 0;
    background: #333333;
    justify-content: space-around;

}

.logo {
    margin-top: 40px;
    p {
        @include fontStyle(20px, initial, #fff, $font, 400);
        letter-spacing: 2px;
        margin-bottom: 25px;
    }
}

.form {
    text-align: center;
    p {
        @include fontStyle(20px, uppercase, $main, $font, 600);
        letter-spacing: 2px;
        margin-bottom: 40px;
    }
    label {
        display: block;
        margin-bottom: 20px;
        width: 318px;
        input {
            width: 100%;
            height: 32px;
        }
    }

    button {
        text-align: center;
        display: inline-block;
        margin: 20px auto 0;
        text-align: center;
        @include buttons(238px,  #fff, $sub, 400);
    }
}

.contacts {
    margin-top: 40px;

    p {
        @include fontStyle(16px, initial, #fff, $font, 400);
        line-height: 1.5;
        margin-bottom: 30px;
        letter-spacing: 1px;
        position: relative;

        &:before {
            position: absolute;
            width: 35px;
            height: 35px;
            content: '';
            background: url("../images/place.png");
            background-size: cover;
            left: -45px;
        }
    }

    .phone-cont {
        &:before {
            background: url("../images/phone.png");
            position: absolute;
            width: 35px;
            height: 35px;
            content: '';
            background-size: cover;
            left: -45px
        }
    }
}

.economy {
    @include fontStyle(20px, initial, $sub, $font, 400);
    display: block;
    margin-bottom: 10px;
    span {
        font-weight: 600;
    }
}

.economy + button {
    background: $sub;
}

.questions {
    max-width: 90%;
    margin: 0 auto;
    .shcool-start-left p span {
        display: inline;
        color: #009eb3;
    }

    .shcool-start-descr-2 p,
    .shcool-start-descr-1 p {
        padding-top: 20px;
    }

    p.questions-title {
        @include fontStyle(23px, initial, $main, $font, 600);
    }
}

.payback {
    position: relative;
    padding-top: 130px;
    &::after {
        background-image: url('../images/bg-video.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 555px;
        height: 468px;
        content: '';
        display: block;
        position: absolute;
        top: 80px;
        right: 0;
        z-index: -1;
    }
    &-inner {
        justify-content: space-between;
    }
    .payback-question {
        &-title {
            @include fontStyle(43px, initial, #333333, $font, 600);
            max-width: 577px;
            width: 100%;
            margin-bottom: 12px;
            letter-spacing: 1px;
            line-height: 1.3;
        }

        &-text {
            @include fontStyle(18px, initial, #033333, $font, 400);
            max-width: 559px;
            width: 100%;
            letter-spacing: 1px;
            line-height: 1.2;
        }

        button {
            @include buttons (280px, #fff, $sub, $font);
            margin-top: 45px;
        }
    }

    &-img {
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.reviews {
    margin: 30px 0 0;
    padding: 85px 123px 0 50px;
    position: relative;
    background-image: url('../images/rev-bg.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 50%;
    .program-title {
        position: absolute;
        right: 65px;
        top: 0px;
        justify-content: flex-end;
        font-family: $fontC;

    }

    .slide-wrapp {
        justify-content: space-between;
        min-height: 500px;
    }

    .rev-img {
        max-width: 457px;
        width: 100%;
        margin-left: 161px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            width: 100%;
        }
    }

    .user-img-blok {
        max-width: 270px;
        width: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        img {
            width: 240px;
        }
        p {
            @include fontStyle(20px, initial, $main, $fontC, 400);
            letter-spacing: 2px;
        };
    }
}

.form-popup {
    position: relative;
    text-align: center;
    max-width: 531px;
    padding: 60px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .input-holder {
        margin: 0 auto 30px;
        position: relative;
    }
    input {
        width: 100%;
        height: 40px;
        border: 1px solid #DCDCDC;
        padding-left: 10px;
    }
    p {
        @include fontStyle(23px, uppercase, $main, $font, 900);
        max-width: 250px;
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
        margin: 0 auto 35px;
    }

    .form_button {
        margin: 0 auto;
        @include buttons (280px, #fff, $sub, $font);
    }
}

.error-valid {
    font-size: 12px;
    line-height: 11px;
    color: #eb1928;
    font-family: $font;
    position: absolute;
    left: 0;
    bottom: -18px;
    display: none;
}

.error-inputs {
    border-color: #eb1928 !important;
}


@import "responsive";